# App 
NODE_ENV=development 
PORT=3000 
APP_URL=http://localhost:3000 
FRONTEND_URL=http://localhost:5173 

# Database 
DATABASE_URL="postgresql://postgres:justpassword@localhost:7000/auth_template?schema=public" 

# JWT 
JWT_ACCESS_SECRET=super-access-secret 
JWT_REFRESH_SECRET=super-refresh-secret 
JWT_ACCESS_EXPIRES_IN=15m 
JWT_REFRESH_EXPIRES_IN=7d 

# Google OAuth 
GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback 

# RabbitMQ 
RABBITMQ_URL=amqp://guest:guest@localhost:5672 

# Mail 
MAIL_HOST=smtp.mailtrap.io 
MAIL_PORT=2525 
MAIL_USER= 
MAIL_PASS= 
MAIL_FROM="Auth Template <noreply@example.com>"